/*
Set the default font of the Sign-in HTML page to "Arial".
*/
html{
  font-family: Arial;
}

/*
Cover the entire background of the HTML page with a nice blue background.
*/
body{
  background-image: url("http://www.waytoumrah.com/prj_umrah/Login_Style/img/backgrounds/3.jpg");
  background-size: cover;
}

/*
Style the Sturgis Logo to make it look more elegant.
*/
img{
  display: block;
  /*
  Setting a width and the height to auto makes sure the image scales proportionally.
  */
  width: 10rem;
  height: auto;
  border-radius: 15px;
  margin: 25px auto;
  box-shadow: 0px 2px 5px black;
}

/*
Style the two buttons, sign-in and enroll, to appear orange when NOT hovered.
*/
button{
  color: white;
  text-decoration: none;
  width: 25%;
  font-size: 25px;
  padding: 15px 0px;
  text-align: center;
  background-color: orange;
  transition: background-color 250ms linear;
  margin-top: 0.3rem;
  border: none;
  box-shadow: 0px 1px 2px black;
}

/*
When the button is hovered over, then fade it in linearly as stated in the transition property above.
*/
button:hover{
  background-color: rgb(0, 209, 109);
}

/*
The class below makes a flexbox out of the div that contains all of the welcoming info, inputs boxes and buttons and aligns them in the center of the page.
*/
.landing-page-box{
  display: flex;
  width: 50%;
  height: 40%;
  margin: auto;
  margin-top: 50px;
  border-radius: 8px;
  align-items: center;
  flex-direction: column;
}

/*

*/
.landing-page-box h1{
  font-size: 25px;
  color: white;
  margin: 1rem auto;
  text-shadow: 2px 1px 3px black;
}

.landing-page-box input {
  width: 45%;
  height: 2rem;
  margin: auto;
  font-size: 1rem;
  color: gray;
}

#password-entry{
  -webkit-text-security: disc;
  margin-bottom: 2rem;
}

#error-message{
  font-size: 1.3rem;
  color: red;
  text-shadow: 1px 1px 2px black;
  margin-top: 2rem;
  display: none;
}

h1{
  width: 100%;
  font-size: 13px;
  text-align: center;
  margin-top: 7rem;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
